.monday-announcements {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 20px;

    .monday-announcement {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 33.333%;

        border-radius: 4px;
        flex: 1;
        padding: 20px;
        text-align: center;
        background-color: #ECEFF8;

        .announcement-title {
            color: #6161ff;
            font-size: 1.2em;
            padding-bottom: 1em;
        }
        .announcement-excerpt {
            color: #000;
        }
    }
}